@model WebAPP.Models.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-hover">
    <thead class="bg-secondary">
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        <tr>
            <th scope="row"><img width="100px" height="100px" src="/image/@user.Photo" /></th>
            <th>@user.Name</th>
            <th>@user.Surname</th>
            <th>@user.Email</th>
            <th>
                <a class="btn btn-outline-secondary" asp-action="Update" asp-route-id="@user.Id"><i class="fas fa-user-edit"></i></a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@user.Id"><i class="fas fa-trash-alt"></i></a>
            </th>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-outline-success" asp-action="Create"><i class="fas fa-plus"></i></a>
