@model WebAPP.Models.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Phone</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <th>@user.Name</th>
                    <th>@user.Surname</th>
                    <th>@user.Email</th>
                    <th>@user.BirthDate</th>
                    <th>@user.Phone</th>
                    <th>@user.Location</th>
                </tr>
            }
    </tbody>
</table>